.f-container
{
  justify-content: space-between;

}
.f-left
{
  gap: 1rem;
}
.f-menu
{
  gap: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 500;
}
@media(max-width: 580px)
{

  .f-container
  {
    justify-content: center;
    flex-direction: column;
  }
  .f-container>div
  {
    align-items: center!important;
    text-align: center;
  }
  .f-left>img
  {
    margin: auto;
  }
  /* .f-right>:nth-child(1)
  {
    margin: auto;
    
  }
  .f-right>:nth-child(2)
  {
    margin: auto;
    
  } */

}